<h1><%= @list.title %></h1>

<% @list.tasks.each do |task| %>
  <div class = "task-display">
    <div class = "task-card">
      <p><%= link_to task.title, list_task_path(task) %></p>
      <p><%= task.description %></p>
    </div>
  </div>
<% end %>


<%= link_to 'Edit List', edit_list_path %>
<%= link_to 'Delete List', list_path(@list), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to 'Back', lists_path %>
